include LICENSE
include README.rst
recursive-include bootstrap3_datetime *.js *.css
# added by check_manifest.py
recursive-include datetimepicker *.css
recursive-include datetimepicker *.html
recursive-include datetimepicker *.js
recursive-include datetimepicker *.pyc
recursive-include sample *.html
recursive-include sample *.py
recursive-include sample *.txt
